*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

body {
  padding: 0;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

p {
  font-size: 1em;
  line-height: 1.25;
}

h1 {
  font-size: 4em;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}


h2 {
  font-size: 2.5em;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}

a {
  cursor: pointer;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}