---
	import Boilerplate from "@layouts/Boilerplate.astro";
	import { Markdown } from "astro/components";
---

<Boilerplate>
	<title slot="head">Title</title>
	<Markdown>
		# Title

		## subtitle

		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aut vitae vel eos placeat sequi cupiditate nostrum. Aliquid alias, consequuntur labore sed nobis temporibus debitis porro, nam, nisi adipisci accusantium sit laboriosam perferendis rerum quis ratione aspernatur corporis quasi maiores mollitia tenetur odio! Fugit id ducimus inventore perferendis, amet minus.

		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aut vitae vel eos placeat sequi cupiditate nostrum. Aliquid alias, consequuntur labore sed nobis temporibus debitis porro, nam, nisi adipisci accusantium sit laboriosam perferendis rerum quis ratione aspernatur corporis quasi maiores mollitia tenetur odio! Fugit id ducimus inventore perferendis, amet minus.

		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aut vitae vel eos placeat sequi cupiditate nostrum. Aliquid alias, consequuntur labore sed nobis temporibus debitis porro, nam, nisi adipisci accusantium sit laboriosam perferendis rerum quis ratione aspernatur corporis quasi maiores mollitia tenetur odio! Fugit id ducimus inventore perferendis, amet minus.

		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aut vitae vel eos placeat sequi cupiditate nostrum. Aliquid alias, consequuntur labore sed nobis temporibus debitis porro, nam, nisi adipisci accusantium sit laboriosam perferendis rerum quis ratione aspernatur corporis quasi maiores mollitia tenetur odio! Fugit id ducimus inventore perferendis, amet minus.

		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aut vitae vel eos placeat sequi cupiditate nostrum. Aliquid alias, consequuntur labore sed nobis temporibus debitis porro, nam, nisi adipisci accusantium sit laboriosam perferendis rerum quis ratione aspernatur corporis quasi maiores mollitia tenetur odio! Fugit id ducimus inventore perferendis, amet minus.

		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aut vitae vel eos placeat sequi cupiditate nostrum. Aliquid alias, consequuntur labore sed nobis temporibus debitis porro, nam, nisi adipisci accusantium sit laboriosam perferendis rerum quis ratione aspernatur corporis quasi maiores mollitia tenetur odio! Fugit id ducimus inventore perferendis, amet minus.

		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aut vitae vel eos placeat sequi cupiditate nostrum. Aliquid alias, consequuntur labore sed nobis temporibus debitis porro, nam, nisi adipisci accusantium sit laboriosam perferendis rerum quis ratione aspernatur corporis quasi maiores mollitia tenetur odio! Fugit id ducimus inventore perferendis, amet minus.
	</Markdown>
</Boilerplate>