$bg-color: hsl(209, 63%, 15%);
$bg-color-alt: hsl(207, 59%, 20%);
$fg-color: white;
$alt-color: #ffbe57;

$card-bg-color: white;
$card-color: black;

$error_color: hsl(6, 56%, 46%);
$warning_color: hsl(32, 70%, 48%);
$information_color: hsl(210, 56%, 46%);
$success_color: hsl(121, 42%, 41%);