@mixin page {
  min-height: 100vh;
  position: relative;
  padding-top: 32px;

  & > .wrapper {
    position: absolute;
    max-width: 700px;

    & > h1 {
      font-size: 6rem;
      line-height: .9;
      margin-bottom: 16px;
    }

    & > p {
      font-size: 1.2rem;
      padding: 20px 0;
    }
  }

  & > img {
    position: absolute;
    bottom: 48px;
    max-width: 80%;
    max-height: 60%;
    z-index: -1;
  }
}